Django==1.11.29
FormEncode==1.2.6
bitcoin-python==0.3
boto==2.35.2
braintree==3.8.0
django-crispy-forms==1.4.0

django-paypal==0.2
lxml==3.4.1
mock==1.0.1

raven==5.1.1
stripe==1.20.2
suds==0.4
wepay==0.3.0
